In [1]:
import pandas as pd
import numpy as np
import math
import json
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [2]:
offers = portfolio.copy()

In [3]:
# Collecting transactions from transcript
transactions = transcript.copy()

In [4]:
# Opening value field to get amount spent to an own column
transactions_opened = pd.concat([transactions.drop(['value'], axis=1), transactions['value'].apply(pd.Series)], axis=1)

In [5]:
transactions = transactions_opened.copy()

In [6]:
# It seems there might be offer ids in two columns, 'offer id' and 'offer_id'. 
## Combining those if that's the case.
def combine_offer_id_cols(data):
    data['offer id'] = data['offer id'].fillna(data['offer_id'])
    data.drop(['offer_id'], inplace=True, axis=1)
    return data

combine_offer_id_cols(transactions)

transactions.head(10)

,event,person,time,offer id,amount,reward
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
2,offer received,e2127556f4f64592b11af22de27a7932,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN
5,offer received,389bc3fa690240e798340f5a15918d5c,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN,NaN
6,offer received,c4863c7985cf408faee930f111475da3,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN,NaN
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
9,offer received,31dda685af34476cad5bc968bdb01c53,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN

In [7]:
transactions = transactions.sort_values(by=['time', 'offer id'])

In [8]:
transactions['offer_duration'] = transactions['offer id'].map(offers.set_index('id')['duration'])

In [9]:
transactions

,event,person,time,offer id,amount,reward,offer_duration
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
9,offer received,31dda685af34476cad5bc968bdb01c53,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
11,offer received,3d02345581554e81b7b289ab5e288078,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
16,offer received,d058f73bf8674a26a95227db098147b1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
68,offer received,3f4e408b0b2d4ea89dd16d7437d867c1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
101,offer received,88baa20c29a94178a43a7d68e5f039d4,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
102,offer received,23f9e3baf42b43148fee9bbbc3530c7a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
113,offer received,5f18c5754dc04baaa1267c823f877a85,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
123,offer received,11da2f066d3943699d10b61fd276fd1a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
124,offer received,21b02228cd4441b49bf0b5ff046f4b75,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
130,offer received,041fd7c6b796430a867c4e03d2ff8f4d,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
150,offer received,e94a9c2e750645d0a1aca57a9b4ca4c3,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
173,offer received,2a01c11fdcc441bcbdc842c35adccb2f,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
174,offer received,78e9be059fce46a1b610f74e0e812a4a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
176,offer received,ace4a7611da040748d1722cda25b6280,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
187,offer received,1a297cc7262d42b59fb3e34fe0166702,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
193,offer received,3ccc9efe36dc4f13a8a5fc3f3f655f2a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
196,offer received,327d08559d564f13b6aaf681700c2e6e,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
198,offer received,fbc039723b044dfd8a1723a976d667d9,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
199,offer received,e1103f6b4c444f84b65f856738c0f60c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
204,offer received,a4579681ffca49cfbff6f5453a49bf76,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
215,offer received,f8362fcaa42248fca2a2a174951a954a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
233,offer received,bb9cf26ad43044a3b0dd90c22bbd05d1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
271,offer received,4df1ca80efca48759fa62d668378451d,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
273,offer received,c93f9619abd642a684bd79953cef992c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
286,offer received,4cce01bbc3d742c994f654f8c1ecd6b4,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
318,offer received,b8dc729c581045a59f2186c210c5a06c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
...,...,...,...,...,...,...,...
306500,transaction,f0ffaed9279946f1bc29614a234f1ee1,714,NaN,1.43,NaN,NaN
306501,transaction,93907d06a946424ba630487fe7aeafd1,714,NaN,28.03,NaN,NaN
306502,transaction,588ceea482344c3ab6845c83aaed4ac0,714,NaN,1.08,NaN,NaN
306503,transaction,a97208c5be42445d9949e82e0f70f622,714,NaN,5.80,NaN,NaN
306504,transaction,8524d450673b4c24869b6c94380006de,714,NaN,4.89,NaN,NaN
306505,transaction,b895c57e8cd047a8872ce02aa54759d6,714,NaN,4.48,NaN,NaN
306508,transaction,8431c16f8e1d440880db371a68f82dd0,714,NaN,1.19,NaN,NaN
306510,transaction,ba620885e51c4b0ea64a4f61daad494f,714,NaN,14.31,NaN,NaN
306511,transaction,a1a8f40407c444cc848468275308958a,714,NaN,2.37,NaN,NaN
306512,transaction,8d80970192fa496f99d6b45c470a4b60,714,NaN,6.92,NaN,NaN
306513,transaction,bde275066f3c4fa0bff3093e3b866a2c,714,NaN,12.73,NaN,NaN
306514,transaction,f1e4fd36e5a0446f83861308bddf6945,714,NaN,8.20,NaN,NaN
306515,transaction,0b64be3b241c4407a5c9a71781173829,714,NaN,2.60,NaN,NaN
306516,transaction,86d03d35d7e0434b935e7743e83be3a0,714,NaN,9.20,NaN,NaN
306517,transaction,3408fd05c781401f8442fb6dbaaea9c7,714,NaN,11.70,NaN,NaN
306518,transaction,1593d617fac246ef8e50dbb0ffd77f5f,714,NaN,40.67,NaN,NaN
306519,transaction,f1b31d07b5d84f69a2d5f1d07843989e,714,NaN,31.13,NaN,NaN
306520,transaction,2ce987015ec0404a97ba333e8e814090,714,NaN,1.64,NaN,NaN
306521,transaction,2e33545f0a764d27b2ccff95fc8d72c4,714,NaN,17.35,NaN,NaN
306522,transaction,d1c4500ace2e45e9a45d3cd2fccac8d8,714,NaN,4.42,NaN,NaN
306523,transaction,b65affd9e07346a1906364a396950e3d,714,NaN,18.35,NaN,NaN
306524,transaction,d613ca9c59dd42f497bdbf6178da54a7,714,NaN,25.14,NaN,NaN
306525,transaction,eec70ab28af74a22a4aeb889c0317944,714,NaN,43.58,NaN,NaN
306526,transaction,24f56b5e1849462093931b164eb803b5,714,NaN,22.64,NaN,NaN
306528,transaction,5ca2620962114246ab218fc648eb3934,714,NaN,2.20,NaN,NaN
306529,transaction,b3a1272bc9904337b331bf348c3e8c17,714,NaN,1.59,NaN,NaN
306530,transaction,68213b08d99a4ae1b0dcb72aebd9aa35,714,NaN,9.53,NaN,NaN
306531,transaction,a00058cf10334a308c68e7631c529907,714,NaN,3.61,NaN,NaN
306532,transaction,76ddbd6576844afe811f1a3c0fbb5bec,714,NaN,3.53,NaN,NaN
306533,transaction,c02b10e8752c4d8e9b73f918558531f7,714,NaN,4.05,NaN,NaN

In [10]:
# We cannot count without offer id, so leaving them for a while

offer_actions = transactions[transactions['event'] != 'transaction']
offer_actions

,event,person,time,offer id,amount,reward,offer_duration
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
9,offer received,31dda685af34476cad5bc968bdb01c53,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
11,offer received,3d02345581554e81b7b289ab5e288078,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
16,offer received,d058f73bf8674a26a95227db098147b1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
68,offer received,3f4e408b0b2d4ea89dd16d7437d867c1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
101,offer received,88baa20c29a94178a43a7d68e5f039d4,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
102,offer received,23f9e3baf42b43148fee9bbbc3530c7a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
113,offer received,5f18c5754dc04baaa1267c823f877a85,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
123,offer received,11da2f066d3943699d10b61fd276fd1a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
124,offer received,21b02228cd4441b49bf0b5ff046f4b75,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
130,offer received,041fd7c6b796430a867c4e03d2ff8f4d,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
150,offer received,e94a9c2e750645d0a1aca57a9b4ca4c3,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
173,offer received,2a01c11fdcc441bcbdc842c35adccb2f,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
174,offer received,78e9be059fce46a1b610f74e0e812a4a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
176,offer received,ace4a7611da040748d1722cda25b6280,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
187,offer received,1a297cc7262d42b59fb3e34fe0166702,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
193,offer received,3ccc9efe36dc4f13a8a5fc3f3f655f2a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
196,offer received,327d08559d564f13b6aaf681700c2e6e,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
198,offer received,fbc039723b044dfd8a1723a976d667d9,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
199,offer received,e1103f6b4c444f84b65f856738c0f60c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
204,offer received,a4579681ffca49cfbff6f5453a49bf76,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
215,offer received,f8362fcaa42248fca2a2a174951a954a,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
233,offer received,bb9cf26ad43044a3b0dd90c22bbd05d1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
271,offer received,4df1ca80efca48759fa62d668378451d,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
273,offer received,c93f9619abd642a684bd79953cef992c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
286,offer received,4cce01bbc3d742c994f654f8c1ecd6b4,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
318,offer received,b8dc729c581045a59f2186c210c5a06c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0
...,...,...,...,...,...,...,...
306218,offer viewed,145e5748cf504c1a82adb8bd8d57ae2f,714,f19421c1d4aa40978ebb69ca19b0e20d,NaN,NaN,5.0
306413,offer viewed,8ea3ffcc740848f99c9679e3bc3c9c80,714,f19421c1d4aa40978ebb69ca19b0e20d,NaN,NaN,5.0
305455,offer viewed,ad80753fc9e0485c9e6b1cc9478d827f,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,10.0
305536,offer completed,873f0e0caae14b9fba66f6db4e715aa4,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305550,offer completed,b7e216b6472b46648272c29a52a86702,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305551,offer completed,b7e216b6472b46648272c29a52a86702,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305592,offer completed,d79a422d00674d80a30311c203ad0e6b,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305633,offer viewed,4e0d84ccaeb2468d93417121730145ef,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,10.0
305652,offer viewed,5cccab62e4f3456f9824f1930e1da5dc,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,10.0
305694,offer completed,0222d267445f4f078bc325224e471766,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305714,offer completed,004b041fbfe44859945daa2c7f79ee64,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305741,offer completed,25417089cb08467a94811abf01e1796f,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305751,offer completed,cfac8da70c354615b747646d234a1885,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305790,offer completed,fe945f721a16479fa241628d96213062,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305807,offer completed,6d93d0f88895420d8dfdca9ff5390bce,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305960,offer completed,b6ef8b6a987c48d5ac80630932600492,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
305971,offer viewed,58a4e015bea149deaf751f1bb59a9606,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,10.0
306005,offer completed,99aa41a074f247aea838f630c7acaf76,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306012,offer completed,4c7588114f90431095e3ee47988ff530,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306021,offer completed,848b8e9245f240b18d39ca69fc481c5a,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306106,offer completed,58a2e3a01a5743d4900d6ad067f515f7,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306114,offer completed,4972685b8b39473782a14f7709afe8b3,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306212,offer completed,4e07135858ca4eaf829cc6e74b010016,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306235,offer completed,61a2713a058b4ee782d1fbeced01b400,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306365,offer completed,557e2c8128334f00bbe020595885b9c4,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306374,offer completed,2d868dda028f445b8c7f592d33077229,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306470,offer completed,452cdae2c68e4732a4177d3929562690,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306506,offer completed,b895c57e8cd047a8872ce02aa54759d6,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306509,offer completed,8431c16f8e1d440880db371a68f82dd0,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0
306527,offer completed,24f56b5e1849462093931b164eb803b5,714,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0,10.0

In [11]:
transactions['unique_offer_cum'] = offer_actions.groupby(['person', 'offer id', 'event']).cumcount()

In [12]:
transactions[transactions['unique_offer_cum']>1].head()

,event,person,time,offer id,amount,reward,offer_duration,unique_offer_cum
111932,offer received,158937e9d76e4ca7923a8b5499564f5d,336,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,2.0
112066,offer received,879be27695d74227bc9974662ec74852,336,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,2.0
113370,offer received,8bdaca43bc4b4446ad8e86a82489fd23,336,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,2.0
117789,offer received,8ed66913c59348ca9e5ff003863ff830,336,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,2.0
118032,offer received,43a50d7e5c8547a9aa1ec31291b9fc30,336,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,2.0

In [13]:
transactions = pd.concat([transactions, 
                    pd.get_dummies(transactions['event'], 
                    prefix=None)], 
                    axis=1)
transactions.drop(['event'], axis=1, inplace=True)

In [14]:
transactions.head()

,person,time,offer id,amount,reward,offer_duration,unique_offer_cum,offer completed,offer received,offer viewed,transaction
1,a03223e636434f42ac4c3df47e8bac43,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,0.0,0,1,0,0
8,aa4862eba776480b8bb9c68455b8c2e1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,0.0,0,1,0,0
9,31dda685af34476cad5bc968bdb01c53,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,0.0,0,1,0,0
10,744d603ef08c4f33af5a61c8c7628d1c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,0.0,0,1,0,0
11,3d02345581554e81b7b289ab5e288078,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,0.0,0,1,0,0

In [15]:
transactions.loc[transactions['offer received'] == 1, 'received time'] = transactions['time']
transactions.loc[transactions['offer viewed'] == 1, 'viewed time'] = transactions['time']
transactions.loc[transactions['offer completed'] == 1, 'completion time'] = transactions['time']

In [16]:
transactions.sort_values(by=['time'])

,person,time,offer id,amount,reward,offer_duration,unique_offer_cum,offer completed,offer received,offer viewed,transaction,received time,viewed time,completion time
1,a03223e636434f42ac4c3df47e8bac43,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,10.0,0.0,0,1,0,0,0.0,NaN,NaN
2452,aaf27a405d4c4632b28f29ca0279c54a,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2466,f80eb9caef944ca899f2bef52b6c2f5e,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2468,b79e77ff80f443ff8aa51232799fd49b,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2480,e300729d05c544cfad882e049e867a70,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2490,ec09bad002ba40f1b327714e29cd50fd,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2493,82eafcbf423a47c49d111695f03d31b5,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2501,5faae0835a8049c1b917d6d34316cc87,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2507,44f1f503047642ac83f70785c4992032,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2519,9a6e41f3f689410bab74f638363ef95a,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2524,839daabf53df41939a812124a8e0e7aa,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2530,4f4777c7c22648f58098e89a34426e07,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2533,597760e0272a460cbc840b471d768427,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2451,fec5f4a42585413e9084ae809c4b6022,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2543,e91dce4a4d0b454e80f5c90dc0eb55ee,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2585,f4e0715b897c480e9cb7b72cec1a8607,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2595,51031b000489411c834ff3c2b088faf0,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2610,89ff2eb181e942aab88a65447295cc83,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2620,01ac633821f0498893320b41b5b22dfc,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2623,c68cee330a1b43b38c15b352a72215a6,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2629,a61e96edb3924b8d92f3f0ca49bf2f06,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2631,db7f39b7c3174c71b45dd73f35b2be72,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2634,95bfff94b9b44ba98bb6b69bc3efc3c7,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2659,894669a32ec14a2fac839e636f807768,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2664,42f8d287efa7489c9c13f94b2cec5fc5,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2678,61cee6f526084729850eb09629ad69d2,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2698,c4150791dafa49c2ba566784a59e59ec,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2573,a94d4b0cca4d47128920f66a5286431d,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2700,a7c13d08e4e84411acb8fe51eb142dbe,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
2438,92eb4168e9ed403a9ff452da6578bbc8,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN,7.0,0.0,0,1,0,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305645,8184c15e16704a54a32705a4f10caec6,714,NaN,20.89,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305643,8cdcacba1ef44cae85558dd47fa23072,714,NaN,9.46,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305650,22212a9457f544d099841ab698d2a5ef,714,NaN,13.62,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305642,41e4610d1aa74853b2d590e321699b1c,714,NaN,13.31,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305640,c297c0a707724e868c3212f721a20457,714,NaN,14.09,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305639,e20fad3940354753a736242503842029,714,NaN,2.07,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305638,513e6bbe878c4b199c1d813fd54461a4,714,NaN,7.05,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305637,e4c05dd9bcbb4945af5727d4d61b8fba,714,NaN,2.84,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305636,d310ea670c7149a1b404854602b30a49,714,NaN,11.49,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305635,8cad8005c2794346a3b332db58a211e4,714,NaN,1.00,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305641,7b74e68b25754abb968231adc71c7e3a,714,NaN,14.84,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305632,2eb115563ebe4784986c3af78a41ea79,714,NaN,4.19,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305651,8ca462f1192b4aa29ac99768d5eefbfa,714,NaN,4.81,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305654,3ebc60e3aaaa41039128482c7296da53,714,NaN,1.46,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305669,ac8bd2bd4d0544d88c041608aff94763,714,NaN,13.71,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305667,9e59453b4ed44df29751981085bd4841,714,NaN,25.46,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305666,de035e26f1c34866984482cf5c2c3e36,714,NaN,13.17,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305665,30d56c0b77ef4c819dfec73e63418a74,714,NaN,10.69,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305664,6994d35034504f6caeacc956d95b3eaa,714,NaN,9.70,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305663,67e081badab74950badc43b31cd14abe,714,NaN,13.72,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305653,5cccab62e4f3456f9824f1930e1da5dc,714,NaN,23.06,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305662,a42ed50acc4d4b25bca647c9e0b916ad,714,NaN,11.75,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305660,a55443a41bb4494eadec2451cdcffa55,714,NaN,23.45,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305659,1661d8802f16412b9bade2f1aea0e64e,714,NaN,19.36,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305658,e94d0928587e4a198fc325c78a2899d2,714,NaN,14.73,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305657,82eafcbf423a47c49d111695f03d31b5,714,NaN,27.28,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305656,505672e0c12e4f77a4461641b004bd5d,714,NaN,3.04,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305655,0a080bbcdf104247b383fa8fe4e99385,714,NaN,1.80,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
305661,9f8dfe338ab347e88b50cbf615d799f4,714,NaN,22.57,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN
306533,c02b10e8752c4d8e9b73f918558531f7,714,NaN,4.05,NaN,NaN,NaN,0,0,0,1,NaN,NaN,NaN

In [17]:
# select informational only

transactions_informational = transactions[(transactions['offer id'].isin(['5a8bc65990b245e5a138643cd4eb9837', '3f207df678b143eea3cee63160fa8bed']))]
transactions_informational

,person,time,offer id,amount,reward,offer_duration,unique_offer_cum,offer completed,offer received,offer viewed,transaction,received time,viewed time,completion time
7,2eeac8d8feae4a8cad5a6af0499a211d,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
13,c27e0d6ab72c455a8bb66d980963de60,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
56,2c5c63e5124e417b8504f76c868a4190,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
76,5e9c83e8ab4d4e9ca83f3256d83ca756,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
90,6747dda08bed46298c23e05b64820a3a,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
99,37a97f6e09784a07bbb67bc6539f1a00,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
100,65f06566a2a14f64b003964f211635e1,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
112,0f54094029ca4107bfd36203aeb3ed14,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
116,fd700397b7c8440baa70d5539926c5a0,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
121,3ecb372184104ff7bad0f0f60cb56e29,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
127,91dc71c4e9bd45b0861825c32f5ee8f9,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
148,aa4a681ea192401ab469b616f8fe6885,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
156,73c157a4b8e342fcb5d8479d8cb41e81,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
161,2c5c71b7bfaa4e3e8088fc177e6e559b,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
167,044f41cfd98940119477d73c81f973a3,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
185,50fb5c0c6b1b4f43bd5f4a818dddb513,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
201,2c3a4de659584bed8d27cfd865f06928,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
209,9b0e7b326e314b758369c2f794566eb3,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
210,ad37608a05a9453d8439806e90962c59,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
225,01ef4c6618b64334a15914ff9963eaac,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
235,599ad9ceb6f94a6283da40a556bdc262,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
237,c34eaeb9e68248c382e4483328bb9867,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
239,bf6849a39d3640069a65f44f8b01f5da,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
258,c32496c5eddb45439d652b7032cac8cb,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
261,4c51ba3886b84781996ca15d42af505d,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
263,1e917541b9324d93bde2bf5ec7ee21a7,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
268,49a0367c0c93404e808c77f423759eff,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
270,4c1c14245a1f4b138ae662fe2243342f,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
274,ac62a9c77646419e94900201f4094e40,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
283,4cbe33c601a5407f8202086565c55111,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,1,0,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304386,6014a8e264474a45a265cbd96aded6f8,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,1.0,0,0,1,0,NaN,708.0,NaN
304457,1aa4e69892454c308421ad7dacac366a,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,1.0,0,0,1,0,NaN,708.0,NaN
304464,1e949fc1f3fe4c49af2bbe36e1b8cdf4,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,708.0,NaN
304491,a47eed99f69740269b61c3b83d433657,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,708.0,NaN
304499,a6b128a592874d52b16a35408e742d5d,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,1.0,0,0,1,0,NaN,708.0,NaN
304569,369f3b700935491eae8d3c41a3c47f97,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,708.0,NaN
304710,4181890d96874b49a39fbcb22cb48853,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,1.0,0,0,1,0,NaN,708.0,NaN
304774,cf61dbadb9f840d0bd8fd8ad7d3d26c8,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,708.0,NaN
305038,ed45c5b6d69b4c17a7855caec289b021,708,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,1.0,0,0,1,0,NaN,708.0,NaN
304370,82d57bf7f37a4b37aff9e7bd293be8bc,708,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,708.0,NaN
304501,6cf884a6c5ae4b2daccb6d3108028fef,708,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,708.0,NaN
304981,b467f9659b5d484bab417c03ce24ea57,708,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,708.0,NaN
305287,aea01a1fecff42cb932edd3a4714885d,708,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,1.0,0,0,1,0,NaN,708.0,NaN
305302,4b0ecb39760341969f642b815093f018,708,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,708.0,NaN
305930,c830751fd5de4453a105b0bd54aa070f,714,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,714.0,NaN
306019,b350ab04dcd3426c8d3159af7d44a2de,714,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,714.0,NaN
306137,17a9bd8d58644ff390a1b5458a62e383,714,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,1.0,0,0,1,0,NaN,714.0,NaN
306314,30bd5034559c4890a78f4f668dd03fb0,714,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,714.0,NaN
306450,9b51e8797290403b90d09d864dec4b94,714,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,714.0,NaN
306490,abc4359eb34e4e2ca2349da2ddf771b6,714,3f207df678b143eea3cee63160fa8bed,NaN,NaN,4.0,0.0,0,0,1,0,NaN,714.0,NaN
305467,48a358a70d024eafbe791dcbff0d36ab,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,1.0,0,0,1,0,NaN,714.0,NaN
305532,5265f933778d4350b21b2199f432521d,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN
305681,df1e6d50effb4af28aff99f69fd3f394,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN
305832,c801141ccbd74cb08db4b93cc5917a1e,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN
305858,4d3857fcab6344aca68ebe2eaffa32c0,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN
306000,642b6f1bf61040efb73e1859cf00e79e,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN
306419,5a3f7fcb450a4cb693ab5267b4d49b40,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN
306433,ec1761735b034ae8874bc979f0cd5862,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN
306441,d56386cf344c4829bbf420d1895dca37,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN
306483,84fb57a7fe8045a8bf6236738ee73a0f,714,5a8bc65990b245e5a138643cd4eb9837,NaN,NaN,3.0,0.0,0,0,1,0,NaN,714.0,NaN

In [18]:
aggregation_functions = {
    'offer received': 'sum', 
    'offer viewed': 'sum',
    'offer completed': 'sum', 
    'reward': 'sum',
    'offer_duration': 'first',
    'received time': 'first',
    'viewed time': 'first',
    'completion time': 'first'}

transactions_informational = transactions_informational.groupby(['person','offer id','unique_offer_cum']).aggregate(aggregation_functions)
transactions_informational.reset_index(inplace=True)

In [19]:
transactions_informational.head()

,person,offer id,unique_offer_cum,offer received,offer viewed,offer completed,reward,offer_duration,received time,viewed time,completion time
0,0009655768c64bdeb2e877511632db8f,3f207df678b143eea3cee63160fa8bed,0.0,1,1,0,0.0,4.0,336.0,372.0,NaN
1,0009655768c64bdeb2e877511632db8f,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,168.0,192.0,NaN
2,0011e0d4e6b944f998e987f904e8c1e5,3f207df678b143eea3cee63160fa8bed,0.0,1,1,0,0.0,4.0,0.0,6.0,NaN
3,0011e0d4e6b944f998e987f904e8c1e5,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,354.0,NaN
4,0020c2b971eb4e9188eac86d93036a77,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,504.0,660.0,NaN

In [20]:
# Create table with transactions
transactions_table = transactions[(transactions['transaction'] == 1)]
#transactions_table

In [21]:
test_data = transactions_informational[300:320].copy()
test_data

,person,offer id,unique_offer_cum,offer received,offer viewed,offer completed,reward,offer_duration,received time,viewed time,completion time
300,050a57f4d675402ba1a06c8c49a4a200,3f207df678b143eea3cee63160fa8bed,1.0,1,0,0,0.0,4.0,504.0,NaN,NaN
301,051006a0cddf40e0a973d9317c032086,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,336.0,NaN,NaN
302,051006a0cddf40e0a973d9317c032086,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,408.0,432.0,NaN
303,0517e2aca44d4327875c3bb8478e492e,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,522.0,NaN
304,0517e2aca44d4327875c3bb8478e492e,5a8bc65990b245e5a138643cd4eb9837,1.0,1,0,0,0.0,3.0,504.0,NaN,NaN
305,051b92f5a9f94328a8721e86905c1d3d,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,168.0,180.0,NaN
306,05298f5390c7417c8dbbcbef9f081800,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,576.0,588.0,NaN
307,0538071eb35247af8c2816ec75a3c87c,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,408.0,NaN,NaN
308,0538071eb35247af8c2816ec75a3c87c,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,504.0,504.0,NaN
309,053de26a38684d628b83fef38eae0c69,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,0.0,NaN,NaN
310,053de26a38684d628b83fef38eae0c69,3f207df678b143eea3cee63160fa8bed,1.0,1,0,0,0.0,4.0,504.0,NaN,NaN
311,053de26a38684d628b83fef38eae0c69,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,342.0,NaN
312,05417c4386804c4fa74e34a3ca632f49,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,342.0,NaN
313,054a387e28fb4939abfe484ea801ff3f,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,168.0,174.0,NaN
314,0552370c278345298835cc70e616c96c,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,0.0,NaN,NaN
315,0555eeabf1284cfd85c306caf9360d05,3f207df678b143eea3cee63160fa8bed,0.0,1,1,0,0.0,4.0,168.0,294.0,NaN
316,0555eeabf1284cfd85c306caf9360d05,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,378.0,NaN
317,055640cd12d04eb4b8a51ec67d451fc7,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,408.0,NaN,NaN
318,055a2a48b6f84b5ba3427e05e6beeb3f,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,0.0,60.0,NaN
319,055fe39c422643d89a93cf05cf610b2e,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,0.0,6.0,NaN

In [22]:
# list of customer ids having transactions so that it is easy to check if a person is there or not
customers_with_transactions = transactions_table.person.tolist()

In [32]:
def count_transactions(data):
    #print(data.person.isin(transactions_table.person))
    #print(data.person.any())    
    
    for index, row in data.iterrows():
                
        # not viewed
        if (str(row['viewed time'])=='nan'):
            
            # and no transactions
            if row['person'] not in customers_with_transactions:
                status = 'churn'
            # and transactions
            else:
                status = 'active'
        
        # viewed
        elif (row['viewed time'] >= 0):
        
            effect_until = row['received time'] + 24*row['offer_duration']
            
            # but too late
            if row['viewed time'] > effect_until:
                status = 'late'
            
            # but no transactions
            elif row['person'] not in customers_with_transactions:
                status = 'disinterested'
                
            # in time and has transactions
            else:
                cust_transactions_during_effect_time = transactions_table[
                    (transactions_table.person == row['person']) 
                    & (transactions_table.time <= effect_until) 
                    & (transactions_table.time > row['received time'])]
                
                # there's transaction(s) during the effective time
                if (len(cust_transactions_during_effect_time)>0):
                    status = 'effected'                
                else:
                    status = 'disinterested'
    
        data.at[index,'status'] = status
        
    return data
    
count_transactions(transactions_informational)

,person,offer id,unique_offer_cum,offer received,offer viewed,offer completed,reward,offer_duration,received time,viewed time,completion time,status
300,050a57f4d675402ba1a06c8c49a4a200,3f207df678b143eea3cee63160fa8bed,1.0,1,0,0,0.0,4.0,504.0,NaN,NaN,active
301,051006a0cddf40e0a973d9317c032086,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,336.0,NaN,NaN,active
302,051006a0cddf40e0a973d9317c032086,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,408.0,432.0,NaN,effected
303,0517e2aca44d4327875c3bb8478e492e,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,522.0,NaN,late
304,0517e2aca44d4327875c3bb8478e492e,5a8bc65990b245e5a138643cd4eb9837,1.0,1,0,0,0.0,3.0,504.0,NaN,NaN,active
305,051b92f5a9f94328a8721e86905c1d3d,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,168.0,180.0,NaN,disinterested
306,05298f5390c7417c8dbbcbef9f081800,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,576.0,588.0,NaN,effected
307,0538071eb35247af8c2816ec75a3c87c,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,408.0,NaN,NaN,active
308,0538071eb35247af8c2816ec75a3c87c,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,504.0,504.0,NaN,effected
309,053de26a38684d628b83fef38eae0c69,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,0.0,NaN,NaN,active
310,053de26a38684d628b83fef38eae0c69,3f207df678b143eea3cee63160fa8bed,1.0,1,0,0,0.0,4.0,504.0,NaN,NaN,active
311,053de26a38684d628b83fef38eae0c69,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,342.0,NaN,disinterested
312,05417c4386804c4fa74e34a3ca632f49,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,342.0,NaN,effected
313,054a387e28fb4939abfe484ea801ff3f,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,168.0,174.0,NaN,effected
314,0552370c278345298835cc70e616c96c,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,0.0,NaN,NaN,active
315,0555eeabf1284cfd85c306caf9360d05,3f207df678b143eea3cee63160fa8bed,0.0,1,1,0,0.0,4.0,168.0,294.0,NaN,late
316,0555eeabf1284cfd85c306caf9360d05,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,336.0,378.0,NaN,disinterested
317,055640cd12d04eb4b8a51ec67d451fc7,3f207df678b143eea3cee63160fa8bed,0.0,1,0,0,0.0,4.0,408.0,NaN,NaN,active
318,055a2a48b6f84b5ba3427e05e6beeb3f,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,0.0,60.0,NaN,disinterested
319,055fe39c422643d89a93cf05cf610b2e,5a8bc65990b245e5a138643cd4eb9837,0.0,1,1,0,0.0,3.0,0.0,6.0,NaN,effected

In [25]:
#transactions_informational[transactions_informational['status'] == 'churn']